.Parent{

   background: gold;
   font-size: larger;
   padding: 20px;
   position: relative;
   top: 0px;
height: 200vh;
}

.n1{

    background: rgb(255, 17, 0);
    font-size: larger;
     padding: 20px;
     position: relative;
     left: 90px;
     bottom: -35px;
}

.n2{
     background: rgb(255, 123, 0);
     font-size: larger;
     position :absolute;
     padding: 20px;
    top: 0%;
}

.n3{
    background: rgb(187, 255, 0);
    font-size: larger;
    padding: 20px;
  

}

.n4{
     background: rgb(0, 255, 213);
     font-size: larger;
     padding: 20px;
     position: sticky;
     top: 100px;
}



.n5 {
    background: rgb(255, 0, 76);
    font-size: larger;
    padding: 200px;
    margin: auto;
    border: 20px solid black;
    width: 100%;
}

.n6 {
    background: rgb(0, 183, 255);
    font-size: larger;
    padding: 20px;
    box-sizing: border-box;
    padding: 100px;
    width: 100%;
      border: 20px solid black;

}