/*
====================================================================================================================================
                                                      IMAGE SECTION 
====================================================================================================================================
*/
section#content
{
  color: white;
  position: absolute;
  top:400px;
  left:600px;
}
img#slide{
  width: 100%;
  height: auto;
}
button{
  width: 50%;
  height: 50px;
  background: #172035;
  color:white;
  border: none;
  font-size: 2em;

}
button:hover{
  background: #09568d;
}
h1{
  font-size: 4em;
}
h3{
  font-size: 2em;
}

p{
  font-size: 2em;
}
/*
====================================================================================================================================
                                                    END OF IMAGE SECTION 
====================================================================================================================================
*/



/*
====================================================================================================================================
                                                       Featured Courses SECTION 
====================================================================================================================================
*/
div.course
{
  width: 400px;
  height: 500px;
  background: white;
  border: 1px solid transparent;
  position: absolute;
  left: 400px;
  top: 1244px;
}
div.course2
{
  width: 400px;
  height: 500px;
  background: white;
  border: 1px solid transparent;
  position: absolute;
  left: 850px;
  top: 1244px;
}
div.course3
{
  width: 400px;
  height: 500px;
  background: white;
  border: 1px solid transparent;
  position: absolute;
  left: 1200px;
  top: 1244px;
}
h1{
  font-size:1em;
}
/*
====================================================================================================================================
                                                      End of Featured Courses SECTION 
====================================================================================================================================
*/